{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Sample Ballast project
{% endblock %}
{% block page_content %}
    <header>
        <link rel="stylesheet" href="{% static 'ports/index.css' %}">
    </header>
    <div class="ports">
        <div>
            <form action="/ports/" method="post">
                {% csrf_token %}
                <table class="table2">
                    <tr>
                        <th>
                            {{ form.port_name }}
                        </th>
                        <th>
                            {{ form.min_latitude }}
                        </th>
                        <th>
                            {{ form.max_latitude }}
                        </th>
                        <td>
                            <button> Search</button>
                        </td>
                        <td>
                            <a href="{% url 'upload' %}">CSV</a>
                        </td>
                        <td>
                            <a href="{% url 'add-ports' %}">New</a>
                        </td>
                    </tr>
                    {% if invalidSearch %}
                        <tr>
                            <td colspan="6" style="background-color: lightgrey;color: darkred;border: none">
                                Please check Latitude values. Allowed range is -90 to 90
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </form>
        </div>
        <div>
            <table class="table1">
                <tr>
                    <th>ID</th>
                    <th>Port Name</th>
                    <th>Temp</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                {% for port in ports_list %}
                    <tr>
                        <td>{{ port.id }}</td>
                        <td>{{ port.port_name }}</td>
                        <td>{{ port.temperature }}</td>
                        <td>{{ port.latitude }}</td>
                        <td>{{ port.longitude }}</td>
                        <td>{{ port.date }}</td>
                        <td>
                         <a href="{% url 'edit-port' port.id %}">
                             <button class="btn"><i class="fa fa-edit"></i></button></a>
                         <a href="{% url 'delete-port' port.id %}">
                             <button class="btn"><i class="fa fa-trash"></i></button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}